fastapi
uvicorn[standard]
psycopg2-binary
python-dotenv
pydantic
pydantic_settings
sqlalchemy
pyjwt
pwdlib[argon2]
python-multipart
pytest 
pytest-asyncio 
httpx 
respx 
anyio 
pytest-cov
email_validator
gunicorn
alembic
